<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>Django на METANIT.COM</title>
</head>
<body>
    <a href="{% url 'learning_logs:index' %}"><h1>Зимний лес</h1>></a>
    {% if user.is_auntificated %}
        <h1>hello {{user.username}} </h1>
    {% else %}
        <a href="{% url 'users:login' %}"><h1>log</h1>></a>
    {% endif %}
    <img src="{% static 'images/forest.png' %}" alt="зимний лес" >


</body>
</html>
{% block content %}{% endblock content %}